.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.fw-bold {
  font-weight: bold;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}
